In [1]:
# while loop .............
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
# for loop table printing.......
table=int(input("enter the table name in number :-"))
for i in range(1,11):
    print(table,"*",i,"=",table*i)

enter the table name in number :- 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120